
body {
	background-color: #282828;
	color: lightgray;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
    font-family: sans-serif;
}

#mainBody{
    width: 920px;
    margin: auto;
}

#header {
    
    width: 920px;
	height: 500px;
	background-image: url('assignment01/images/mug.jpg');
	background-size: 100% 100%;
	color: white;
	margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
	padding: 0px;
	border-color: black;
}

.title {
	font-size: 50px;
	padding-top: 224px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.subtitle {
	font-size: 25px;
	padding: 0px;
	margin-top: 0px;
}

.headings {
    margin:0px;
	font-size: 20px;
	color: white;
}

#aboutme {
    border: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
	background-color: #2a2a2a;
}

#list {
    border: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
	background-color: #292929;
}

a:link{
    color: navajowhite;
}

a:hover{
    color:aqua;
}

a:visited{
    color:#d2d27e;
}
