/* Created by Parth Shreyash Patel - Created on 2020/04/01 - Modified on 2020/04/03 */

body{
    height: 100%;
    background-image: url(./images/CentennialCollege_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#mainBody{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: sans-serif;
    background-color: #ebf8e5;
    opacity: 1;
}

header img{
    height: 230px;
    width: 100%;
    text-align: center;
    background-image: url(images/centennialBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    padding-left: 10px;
    padding-right: 10px;
}

#title{
    text-align: center;
}

#subtitle{
    text-align: center;
}

#formInfo{
    color: darkgreen;
}

.majorSep{
    border-color: seagreen;
    border-width: 2px;
}

.minorSep{
    border-color: darkseagreen;
    border-width: 1px;
}

.mainSections{
    overflow: auto;
}

.subSections{
    overflow: auto;
}

.sectionTitle{
    color: darkgreen;
    font-size: 20px;
}

.left{
    width: 405px;
    text-align: right;
    float: left;
    margin-right: 5px;
    margin-left: 80px;
}

.right{
    padding-top: 15px;
    width: 485px;
    text-align: left;
    float: right;
    margin-left: 5px;
}

#buttons{
    margin-bottom: 40px;
}

#submitButton{
    margin-top: 15px;
}

footer{
    margin-left: 10px;
    margin-right: 10px;
}