/* Created by Parth Shreyash Patel - Created on 2020/03/10 - Modified on 2020/02/10 */
#mainBody{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#title{
    text-align: center;
}

#subtitle{
    text-align: center;
}

hr{
    border-color: seagreen;
    border-width: 2px;
}

.mainSections{
    overflow: auto;
}

.subSections{
    overflow: auto;
}

.sectionTitle{
    color: blue;
    font-size: 20px;
}

.left{
    width: 405px;
    text-align: right;
    float: left;
    margin-right: 5px;
    margin-left: 80px;
}

.right{
    padding-top: 15px;
    width: 485px;
    text-align: left;
    float: right;
    margin-left: 5px;
}

#buttons{
    text-align: right;
}

#submitButton{
    margin-top: 15px;
}
